---
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../lib/strapi.ts";

export async function getStaticPaths({}) {
    const articles: Array<any> = await fetchApi({
        endpoint: "blogs", // the content type to fetch
        wrappedByKey: "data", // the key to unwrap the response
    });

    return articles.map((article: any) => ({
        params: { slug: article.attributes.slug },
        props: article,
    }));
}

const article = Astro.props;
---

<Layout title="Detail">
    <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <p class="text-base font-semibold leading-7 text-green-600">
                <!-- Introducing -->
            </p>
            <h1
                class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
                {article.attributes.title}
            </h1>
            <p class="mt-6 text-xl leading-8">
                <div set:html={article.attributes.Content} />
            </p>
        </div>
    </div>
</Layout>
