---
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../lib/strapi.ts";
import type Article from "../../interfaces/article.ts";
import Image from "astro/components/Image.astro";

const articles = await fetchApi<Article[]>({
    endpoint: "blogs?populate=image", // the content type to fetch
    wrappedByKey: "data", // the key to unwrap the response
});
---

<Layout title="Mega Story">
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl text-center">
                <h2
                    class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
                >
                    Mega Story
                </h2>
                <p class="mt-2 text-lg leading-8 text-gray-600">
                    <!-- Learn how to grow your business with our expert advice. -->
                </p>
            </div>
            <div
                class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
            >
                {
                    articles.map((article) => (
                        <article class="flex flex-col items-start justify-between">
                            <a href={`/mega-story/${article.attributes.slug}/`}>
                                <div class="relative w-full">
                                    <Image
                                        src={`https://app.slmsolar.com${article.attributes.image.data.attributes.url}`}
                                        alt=""
                                        class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
                                        inferSize
                                    />
                                    <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
                                </div>
                            </a>
                            <div class="max-w-xl">
                                <div class="group relative">
                                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                        <a
                                            href={`/mega-story/${article.attributes.slug}/`}
                                        >
                                            <span class="absolute inset-0" />
                                            {article.attributes.title}
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </article>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
